.profile__about {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 294px;
}

@media screen and (max-width: 720px) {
  .profile__about {
    font-size: 16px;
    line-height: 19px;
    max-width: 200px;
  }
}

@media screen and (max-width: 440px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    max-width: 189px;
  }
}