.profile__button {
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  padding: 0;
  object-fit: cover;
  transition: .2s;
}

.profile__button:hover {
  background-color: rgba(0,0,0,.8);
  background-image: url(../../../images/profile.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 26px;
  cursor: pointer;
}