.profile__avatar {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

@media screen and (max-width: 720px) {
  .profile__avatar {
    margin-right: 0;
  }
}