.popup__auth-text {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  min-height: 58px;
}

@media screen and (max-width: 440px) {
  .popup__auth-text {
    font-size: 20px;
    line-height: 22px;
    max-height: 24px;
    min-height: 48px;
  }
}