.element__like {
  background-image: url("../../../images/heard.svg");
  background-color: transparent;
  border: none;
  height: 19px;
  width: 22px;
  outline: none;
  transition: opacity .2s linear;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0 0;
  padding: 0;
  cursor: pointer;
}

.element__like:hover {
  opacity: .5;
}