.popup__input {
  display: block;
  border: 0;
  width: 100%;
  max-height: 27px;
  border-bottom: 1px solid rgba(0,0,0,.2);
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 0 0 13px;
  font-family: Inter,Arial,sans-serif;
  color: #000000;
  box-sizing: border-box;
}

.popup__input:focus {
  outline: none;
}
